.btn,
.btn:active,
.btn:hover,
.btn:focus {
  margin-top: 5rem;
  font-family: "Space Mono", monospace;
  color: #0b0a0a;
  background-color: #ADBBDA;
  border: none;
  outline: none;
  padding: 2rem 4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
}

/* Responsive breakpoints */
@media (max-width: 600px) {
  .display__content {
    margin-left: 0;
  }

  .display__content--info {
    font-size: 4.8rem;
  }

  .display__content--text {
    font-size: 1.5rem;
  }
}

.display {
  margin: 10rem 5rem 5rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32.5rem, 1fr));
}

.display__img > img {
  width: 100%;
}

.display__content {
  margin-left: 5rem;
}

.display__content--info {
  font-size: 6rem;
  line-height: 1.2;
}

.display__content--text {
  margin-top: 1.5rem;
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;
  width: 40rem;
}

/* Additional media queries */
@media (max-width: 900px) {
  .display__content--info {
    font-size: 4.8rem;
  }

  .display__content--text {
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {
  /* Add specific styles here if needed */
}

@media (min-width: 1800px) {
  /* Add specific styles here if needed */
}
