.footer {
  width: 100%;
  display: flex;
  justify-content: center;  
  align-items: center; 
  padding: 120px;  
  color: white;
  background-color: var(--menu-bg);  
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);  
  text-align: center; 
  position: relative;  
}
