.home {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto auto auto;  
    padding: 20px;
    position: relative;
}
 
.heading {
    grid-column: span 4;  
    font-size: 30px;
    grid-row: 1;  

    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
}

.subheading {
    grid-column: span 4;  
    grid-row: 4; 
    font-size: 1.5em;
    margin-left: 0;  
    padding-bottom: 5px;
}
/* Box Layout */
.box {
    display: grid;
    grid-template-columns: 1fr auto;  
    grid-template-rows: auto auto;  
    grid-template-areas:
        "heading heading"
        "number icon";
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid var(--dark-bg);
    background: var(--soft-color);
}

.box-heading {
    grid-area: heading;
    font-size: 18px;
    font-weight: bold;

 }
 .title{
    grid-area: heading;
    font-size: 18px;
    font-weight: bold;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 5px;

 }

.number {
    grid-area: number;
    font-size: 24px;
    margin-top: 10px;
}

.icon {
    grid-area: icon;
    width: 70px;
    height: 70px;
      justify-self: end;  
}
.recharts-legend {
    margin-top: 20px;   
  }
  

 .box1, .box2, .box3, .box4 {
    grid-row: 2;
}

 .box5, .box6, .box7, .box8 {
    grid-row: 3;
}

 .box9 {
    grid-row: 5; 
    grid-column: span 3;
    min-height: 300px; 
    padding: 0;
}
.box10 {
    grid-row: 5;  
    grid-column: span 1;
    min-height: 400px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: space-between; 
  }
  
 .legend {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 20px;  
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin: 0 15px; 
  }
  
  .color-box {
    width: 16px;  
    height: 16px;
    margin-right: 8px;  
    border-radius: 2px;  
  }
  
  .legend-text {
    font-size: 14px;
    font-weight: normal; 
  }
  

/* Responsive adjustments */
@media (max-width: 1200px) {
    .home {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
    .box9, .box10 {
        grid-column: span 2; /* Ensure both charts span across 2 columns */
    }
}

@media (max-width: 768px) {
    .home {
        grid-template-columns: 1fr; /* 1 column for mobile screens */
    }
    .box9, .box10 {
        grid-column: span 1; /* Each chart takes up 1 column */
    }
}
