.menu {
    display: flex;
    flex-direction: column;
    padding: 20px; 
    background-color: var(--menu-bg); 
    height: 100%;  
  
    .item {
      display: flex;
      flex-direction: column;
      gap: 10px;
     }
 
    .title {
      font-size: 20px;
      font-weight: 200;
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;  
    }
  
    .listItem {
      display: flex;
      align-items: center;
      font-size: 22px;
      color: white;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      transition: background-color 0.3s ease;  
  
      &:hover {
        background-color: var(--soft-color);
      }
    }
  
    .icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
  