/* Passenger Details Styling */

/* General container styling */
.passenger-details-container {
  max-width: auto;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;


  
}

/* Header Styling */
.header {
  font-size: 24px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
}

/* Info Styling */
.passenger-info p {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
  line-height: 1.6;
}

/* Highlighting the bold text */
.passenger-info strong {
  color: #000;
}

/* Not Found Styling */
.not-found {
  text-align: center;
  font-size: 18px;
  color: red;
  margin: 50px 0;
}
 
.avatar-container {
  flex-shrink: 0;
}
.passenger-info {
  flex-grow: 1;
}
