 
  
 .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color:var(--menu-bg); /* A teal shade */
  color: white; /* White text for contrast */
  border-radius: 8px; /* Rounded corners */
}

.header h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.header .button {
  background-color: var(--dark-color); /* Slightly lighter teal for the button */
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header .button:hover {
  background-color: #00695c; /* Darker teal on hover */
}

.dataGrid {
  background: white;
  padding: 20px;
  flex-direction: row-reverse;

  border-radius: 8px; /* Rounded corners for the table */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
   .MuiDataGrid-toolbarContainer{
    flex-direction: row-reverse;
   }
}
.main-content_revenue{
  margin-bottom: 200px;
}