/* variables.css */

:root {
    --main-bg: #f3f1ef;;   
    --dark-bg: #3D52A0;  
    --soft-bg: #7091E6;   
    --dark-color: #8697C4;   
    --soft-color: #ADBBDA;   
     --black: #101111; 
     --menu-bg: #2b5f8c
  }
  