/* variables.css */

:root {
    --main-bg: #EDE8F5;   
    --dark-bg: #3D52A0;  
    --soft-bg: #7091E6;   
    --dark-color: #8697C4;   
    --soft-color: #ADBBDA;   
     --black: #000000; 
     --menu-bg: #1F4D75
  }
  