:root {
    --main-bg: #f3f1ef;;   
    --dark-bg: #3D52A0;  
    --soft-bg: #7091E6;   
    --dark-color: #8697C4;   
    --soft-color: #ADBBDA;   
     --black: #101111; 
     --menu-bg: #2b5f8c
  }
  /* Define dark theme variables */
[data-theme="dark"] {
    --main-bg: #121212;
    --menu-bg: #1e1e1e;
    --content-bg: #2a2a2a;
    --black: #ffffff;
    --soft-color: #444444;
  }